<p> test</p>

<body>
    {% for rows in row %}
      <p1>Hello, {{ row }}!</p1><br>
    {% endfor %}


<table>
  <thead>
    <tr>
      <th>id</th>
      <th>vorname</th>
      <th>nachname</th>
      <th>alter</th>
      <th>mw</th>
    </tr>
  </thead>

  <tbody>
    {% for row in value %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


      <form method="POST">
          <input name="customer_id">
          <input type="submit">
      </form>


      <form method="POST">
        <fieldset>
          <legend>Personal Information:</legend>
          <label for="vorname" class="sr-only">Vorname</label>
          <input name="vorname"><br>
          <label for="nachname" class="sr-only">Nachname</label>
          <input name="nachname"><br>
          <label for="alter" class="sr-only">Alter</label>
          <input name="alter"><br>
          <label for="mw" class="sr-only">W/M</label>
          <input name="mw"><br>
          <input type="submit" value="OK">
        </fieldset>
      </form>

      <form method="POST">
        <label for="delete_row" class="sr-only">Löschen</label>
        <input name="delete_row">
        <input type="submit" value="Löschen"
      </form>

    <p2>Information inserted: {{vorname, nachname, alter, }}

</body>
